body {
    background-color: rgb(255, 102, 0);
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    min-height: 100vh;
    margin: 0px;
}

.wrapper {
    border-style: groove;
    border-color:rgb(2, 110, 250);
    background-color: rgb(209, 13, 13);
    margin: 10px;
}

.top {
    text-align: center;
    color: white;
    background-color: rgba(2, 109, 250, 0.705);
    margin: 0px;
    padding: 0px;
}

h1 , h3 {
    margin: 0px;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

button {
padding: 20px;
border-style:groove;
border-radius: 15px 15px 15px 0px;
}

#water:hover {
    color: blue;
    font-size: 2em;
    background-color: aqua;
}

#fire:hover {
    color: red;
    font-size: 2em;
    background-color: rgb(255, 166, 65);
}

#tree:hover  {
    color: green;
    font-size: 2em;
    background-color: rgb(201, 253, 199);
}

.score {
    text-align: center;
    background-color: rgb(115, 255, 102);
    border-style: groove;
    border-color:rgb(0, 139, 0);
    border-radius: 25px 25px 25px 25px;
    padding: 50px 100px;
    margin: 10px;
    font-size: 2em;
}